<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleSignature</key>
	<string></string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.pbs.testing</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.601945306946-7dslr9lgg7uvvv0n6d6e5r64toksve3n</string>
			</array>
		</dict>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<string>NO</string>
	<key>GIDClientID</key>
	<string>601945306946-7dslr9lgg7uvvv0n6d6e5r64toksve3n.apps.googleusercontent.com</string>
	<key>NSAllowsArbitraryLoads</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict/>
	<key>UIAppFonts</key>
	<array>
		<string>Manrope-ExtraLight.otf</string>
		<string>Manrope-Light.otf</string>
		<string>Manrope-Regular.otf</string>
		<string>Manrope-Medium.otf</string>
		<string>Manrope-SemiBold.otf</string>
		<string>Manrope-Bold.otf</string>
		<string>Manrope-ExtraBold.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
